/**
 @name: _composition
 @author: wkk
 @date: 2021-07-26
 @description：组合样式
*/

.flex-center {
	@extend .flex;
	@extend .justify-center;
	@extend .items-center;
}

//页面滚动条上下间距（16）
.border-spacing-16 {
	@extend .border-t-16;
	@extend .border-b-16;
}

//？说明
.ques-mark {
	$size: 18px;

	box-sizing: border-box;
	width: $size;
	height: $size;
	line-height: $size - 3;
	@extend .f14;
	@extend .border-2;
	@extend .bgc-FFF;
	@extend .tac;
	@extend .relative;
	@extend .inline-block;
	@extend .items-center;
	@extend .c-909399;
	@extend .rounded-1\/2;

	&:before {
		content: "?";
	}
}

//三角箭头
.triangle-b {
	&:after {
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		content: "";
		border: 12px solid;
		border-color: transparent transparent #f8f9fd transparent;
		transform: translate(0, 100%);
		@extend .absolute;
	}
}

//梯形
.trapezoidShape {
	width: 76px;
	height: 48px;
	line-height: 48px;
	color: map-get($colorType, FFF);
	@extend .bgc-456FFF;
	@extend .tac;
	@extend .relative;

	&:after {
		right: -10px;
		width: 10px;
		height: 50px;
		content: "";
		transform: rotate(5deg);
		transform-origin: left top;
		@extend .absolute;
		@extend .bgc-FFF;
	}
}

//标题前缀矩形
.rect-prefix {
	@extend .relative;
	@extend .pl16;

	&:before {
		top: 0;
		left: 0;
		width: 5px;
		content: "";
		@extend .absolute;
		@extend .h-10\/10;
		@extend .bgc-456FFF;
		@extend .rounded-8;
	}
}

//必填星星
.star {
	&:before {
		color: #fe5353;
		content: "*";
		@extend .mr4;
	}
}

//模块标题样式
.rect-title {
	@extend .inline-block;
	@extend .f16;
	@extend .mb16;
	@extend .font-bold;
	@extend .c-303133;
	@extend .rect-prefix;
}

//模块布局
.rect-module {
	@extend .bgc-FFF;
	@extend .pr32;
	@extend .pt24;
	@extend .pb24;
	@extend .pl32;
	@extend .f14;
	@extend .mt8;
}

//页面顶部底部悬浮条
.sticky-bar {
	&:before,
	&:after {
		z-index: 4;
		height: 16px;
		content: "";
		@extend .sticky;
		@extend .bgc-FFF;
		@extend .block;
		@extend .w-10\/10;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	.page-header {
		top: 16px;
	}
}

.sticky {
	top: 0;
	z-index: 4;
	@extend .sticky;
}

.line-clamp-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	@extend .overflow-hidden;
}

.title,
.headline {
	line-height: 24px;
	@extend .mb16;
	@extend .f24;
	@extend .c-303133;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	@extend .w-10\/10;
	@extend .overflow-hidden;
	@extend .inline-block;
}

.serial {
	width: 32px;
	height: 32px;
	line-height: 32px;
	background: #d7d7d7;
	@extend .mr16;
	@extend .tac;
	@extend .rounded-1\/2;
}

.input {
	//input尾部必填符号*
	&-require {
		@extend .relative;

		&:after {
			top: 50%;
			right: -10px;
			height: auto;
			color: red;
			content: "*";
			transform: translateY(-50%);
			@extend .absolute;
			@extend .tac;
			@extend .f18;
			@extend .font-bold;
		}
	}

	//input suffix-%
	&-suffix {
		&_percentage {
			&:after {
				top: 0;
				right: 5px;
				width: 25px;
				content: "%";
				@extend .absolute;
				@extend .tac;
			}
		}
	}
}

//水纹动效
.anim-wave {
	transition: width,height 1s;
	@extend .relative;
	@extend .overflow-hidden;
	&:after {
		margin: auto;
		content: "";
		top: 0;
		bottom: 0;
		left: -4px;
		right: 0;
		width: 0;
		height: 0;
		animation: anim-out 1.75s infinite;
		filter: blur(1px);
		z-index: 2;
		@extend .absolute;
		@extend .rounded-1\/2;
	}
	@keyframes anim-out {
		0% {
			width: 0;
			height:0;
			background: rgba(0,0,0,0.3);
		}

		100% {
			width: 120px;
			height: 120px;
			@extend .bgc-tspt;
		}
	}
}
