$colorType: (
  // 灰色、一级边框色
  DCDFE6: #DCDFE6,
  //强调文字，标签、icon,可编辑、跳转文字入口
  "456FFF": #456fff,
  //重要按钮hover状态
  "688AFF": #688AFF,
  //次要按钮边框色
  A2B7FF: #A2B7FF,
  //次要按钮背景色
  EAF4FF: #EAF4FF,
  //错误提示色
  FE5353: #FE5353,
  //危险提示色
  F9AC38: #F9AC38,
  //成功提示色
  "67C23A": #67C23A,
  //静默提示色
  //次要文字、提示信息颜色
  //三级边框色，分割线颜色及卡片边框色
  909399: #909399,
  //主要、标题文字色
  303133: #303133,
  //正文、常规文字色
  //二级边框色，输入框边框、次要按钮边框色
  606266: #606266,
  //不可点击色、文本框内提示
  //四级边框色，分割线颜色及卡片边框色
  C0C4CC: #C0C4CC,
  // 登录弹窗warning字体颜色
  E6A23C: #E6A23C,
  //整体页面背景色
  F4F5FA: #F4F5FA,
  //标题栏、构件级列表颜色
  FFF: #FFF,
  //列表选中背景、分类选中背景、次要按钮hover 状态颜色
  FCFDFF: #FCFDFF,
  //表头背景颜色
  FAFBFF: #FAFBFF,
  F6F8FF: #F6F8FF,
  FDF6EC: #FDF6EC,
  tspt: transparent,
);

//常用数字变量，（border、border-radius)
$constNum: (
  1: 1px,
  2: 2px,
  3: 3px,
  5: 5px,
  8: 8px,
  10: 10px,
  16: 16px,
);

//常用百分比
$percentage: (
  #{1\/2}: 50%,
  #{1\/3}: 33.333333%,
  #{2\/3}: 66.666667%,
  #{1\/4}: 25%,
  #{2\/4}: 50%,
  #{3\/4}: 75%,
  #{1\/5}: 20%,
  #{2\/5}: 40%,
  #{3\/5}: 60%,
  #{4\/5}: 80%,
  #{1\/6}: 16.666667%,
  #{2\/6}: 33.333333%,
  #{3\/6}: 50%,
  #{4\/6}: 66.666667%,
  #{5\/6}: 83.333333%,
  #{1\/12}: 8.333333%,
  #{2\/12}: 16.666667%,
  #{3\/12}: 25%,
  #{4\/12}: 33.333333%,
  #{5\/12}: 41.666667%,
  #{6\/12}: 50%,
  #{7\/12}: 58.333333%,
  #{8\/12}: 66.666667%,
  #{9\/12}: 75%,
  #{10\/12}: 83.333333%,
  #{11\/12}: 91.666667%,
  full: 100%
);

//初始值类型
$initialTypes: (
  initial: initial,
  inherit: inherit,
);

//常用小数
$decimalTypes: (
  #{0\/10}: 0,
  #{1\/10}: 0.1,
  #{2\/10}: 0.2,
  #{3\/10}: 0.3,
  #{4\/10}: 0.4,
  #{5\/10}: 0.5,
  #{6\/10}: 0.6,
  #{7\/10}: 0.7,
  #{8\/10}: 0.8,
  #{9\/10}: 0.9,
  #{10\/10}: 1,
);

//方向
$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

//margin，padding
$spaceTypes: (
  m: margin,
  p: padding
);
$spaceSizes: (
  2: 2px,
  4: 4px,
  8: 8px,
  16: 16px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  64: 64px,
  72: 72px,
  0: 0px,
);

//边框类型
$borderStyleType: (
  ds: dashed,
  dt: dotted,
  sd: solid,
);

//指针类型
$cursorTypes: (
  def: default,
  poi: pointer,
  mov: move,
);

//无边框类型
$noneTypes: (
  bd-t-n: border-top,
  bd-r-n: border-right,
  bd-b-n: border-bottom,
  bd-l-n: border-left,
);

$boxSizing: (
  border: border-box,
  content: content-box,
);

$display: (
  block: block,
  inline-block: inline-block,
  inline: inline,
  flex: flex,
  inline-flex: inline-flex,
  table: table,
  table-caption: table-caption,
  table-cell: table-cell,
  table-column: table-column,
  table-column-group: table-column-group,
  table-footer-group: table-footer-group,
  table-header-group: table-header-group,
  table-row-group: table-row-group,
  table-row: table-row,
  flow-root: flow-root,
  grid: grid,
  inline-grid: inline-grid,
  contents: contents,
  hidden: none,
);

$float: (
  right: right,
  left: left,
  none: none,
);

$clear: (
  left: left,
  right: right,
  both: both,
  none: none,
);

$objectFit: (
  contain: contain,
  cover: cover,
  fill: fill,
  none: none,
  scale-down: scale-down
);

$objectPosition: (
  bottom: bottom,
  center: center,
  left: left,
  left-bottom: left bottom,
  left-top: left top,
  right: right,
  right-bottom: right bottom,
  right-top: right top,
  top: top,
);

$overflow: (
  auto: auto,
  hidden: hidden,
  visible: visible,
  scroll: scroll
);

$overscrollBehavior: (
  auto: auto,
  contain: contain,
  none: none
);

$position: (
  static: static,
  fixed: fixed,
  absolute: absolute,
  relative: relative,
  sticky: sticky,
);

$visibility: (
  visible: visible,
  invisible: hidden,
);

$zIndex: (
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40,
  50: 50,
  auto: auto,
);

$gridTemplateColumns: (
  1: repeat(1, minmax(0, 1fr)),
  2: repeat(2, minmax(0, 1fr)),
  3: repeat(3, minmax(0, 1fr)),
  4: repeat(4, minmax(0, 1fr)),
  5: repeat(5, minmax(0, 1fr)),
  6: repeat(6, minmax(0, 1fr)),
  7: repeat(7, minmax(0, 1fr)),
  8: repeat(8, minmax(0, 1fr)),
  9: repeat(9, minmax(0, 1fr)),
  10: repeat(10, minmax(0, 1fr)),
  11: repeat(11, minmax(0, 1fr)),
  12: repeat(12, minmax(0, 1fr)),
  none: none,
);

$gridColumn: (
  auto: auto,
  span-1: span 1 / span 1,
  span-2: span 2 / span 2,
  span-3: span 3 / span 3,
  span-4: span 4 / span 4,
  span-5: span 5 / span 5,
  span-6: span 6 / span 6,
  span-7: span 7 / span 7,
  span-8: span 8 / span 8,
  span-9: span 9 / span 9,
  span-10: span 10 / span 10,
  span-11: span 11 / span 11,
  span-12: span 12 / span 12,
  span-full: #{1} / #{-1}
);

$gridColumStartEnd: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  13: 13,
  auto: auto,
);

$gridTemplateRows: (
  1: repeat(1, minmax(0, 1fr)),
  2: repeat(2, minmax(0, 1fr)),
  3: repeat(3, minmax(0, 1fr)),
  4: repeat(4, minmax(0, 1fr)),
  5: repeat(5, minmax(0, 1fr)),
  6: repeat(6, minmax(0, 1fr)),
  none: none,
);

$gridRow: (
  auto: auto,
  span-1: span 1 / span 1,
  span-2: span 2 / span 2,
  span-3: span 3 / span 3,
  span-4: span 4 / span 4,
  span-5: span 5 / span 5,
  span-6: span 6 / span 6,
  span-full: #{1} / #{-1}
);

$gridRowStartEnd: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  auto: auto,
);

$gridAutoFlow: (
  row: row,
  col: column,
  row-dense: row dense,
  col-dense: column dense,
);

$gridAutoColumns: (
  auto: auto,
  min: min-content,
  max: max-content,
  fr: minmax(0, 1fr),
);

$justifyContent: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly
);

$justifyItemsSelf: (
  auto: auto,
  start: start,
  end: end,
  center: center,
  stretch: stretch,
);

$alignContent: (
  center: center,
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

$alignItems: (
  center: center,
  start: flex-start,
  end: flex-end,
  baseline: baseline,
  stretch: stretch,
);

$alignSelf: (
  auto: auto,
  center: center,
  start: flex-start,
  end: flex-end,
  stretch: stretch,
);

//控制 Flex 子项的方向的功能类
$flexDirection: (
  row: row,
  row-reverse: row-reverse,
  col: column,
  col-reverse: column-reverse
);

//控制 Flex 子项是否换行
$flexWrap: (
  wrap: wrap,
  wrap-reverse: wrap-reverse,
  nowrap: nowrap
);

//控制 flex 项目放大的功能类
$flexGrow: (
  grow-0: 0,
  grow-1: 1,
  grow-2: 2,
  grow: 1
);

//控制 flex 项目缩小的功能类
$flexShrink: (
  shrink-0: 0,
  shrink-1: 1,
  shrink-2: 2,
  shrink: 1
);

//几何类型
$geometricTypes: (
  w: width,
  h: height,
  min-w: min-width,
  min-h: min-height,
  max-w: max-width,
  max-h: max-height,
);

//几何数值类型
$geometricNumsTypes: (
  0: 0,
  20: 20px,
  200: 200px,
  450: 450px,
  500: 500px,
  #{1\/10}: 10%,
  #{2\/10}: 20%,
  #{3\/10}: 30%,
  #{4\/10}: 40%,
  #{5\/10}: 50%,
  #{6\/10}: 60%,
  #{7\/10}: 70%,
  #{8\/10}: 80%,
  #{9\/10}: 90%,
  #{10\/10}: 100%,
  auto: auto,
  init: initial,
  min: min-content,
  max: max-content,
);

$fontSize: (
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  32: 32px,
);

$fontWeight: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
);

$lineHeight: (
  none: 1,
  tight: 1.25,
  snug: 1.375,
  normal: 1.5,
  relaxed: 1.625,
  loose: 2
);

$listStyleType: (
  none: none,
  disc: disc,
  decimal: decimal,
);

$listStylePosition: (
  inside: inside,
  outside: outside
);

$textAlign: (
  l: left,
  c: center,
  r: right,
);

$colorUse: (
  bgc: background-color,
  c: color,
);

$textDecoration: (
  underline: underline,
  line-through: line-through,
  no-underline: none,
);

$textTransform: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize,
  normal-case: none,
);

$verticalAlign: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  text-top: text-top,
  text-bottom: text-bottom,
);

$whitespace: (
  normal: normal,
  nowrap: nowrap,
  pre: pre,
  pre-line: pre-line,
  pre-wrap: pre-wrap,
);

$backgroundAttachment: (
  fixed: fixed,
  local: local,
  scroll: scroll,
);

$backgroundClip: (
  border: border-box,
  padding: padding-box,
  content: content-box,
  text: text,
);

$backgroundPosition: (
  bottom: bottom,
  center: center,
  left: left,
  left-bottom: left bottom,
  left-top: left top,
  right: right,
  right-bottom: right bottom,
  right-top: right top,
  top: top,
);

$backgroundRepeat: (
  repeat: repeat,
  no-repeat: no-repeat,
  repeat-x: repeat-x,
  repeat-y: repeat-y,
  repeat-round: round,
  repeat-space: space,
);

$backgroundSize: (
  auto: auto,
  cover: cover,
  contain: contain,
);

$boxShadow: (
  primary: 0 2px 12px 0 rgb(0 0 0 / 10%),
);

$borderCollapse: (
  collapse: collapse,
  separate: separate,
);

$tableLayout: (
  auto: auto,
  fixed: fixed,
);

$transformOrigin: (
  center: center,
  top: top,
  top-right: top right,
  right: right,
  bottom-right: bottom right,
  bottom: bottom,
  bottom-left: bottom left,
  left: left,
  top-left: top left,
);

$cursor: (
  auto: auto,
  default: default,
  pointer: pointer,
  wait: wait,
  text: text,
  move: move,
  not-allowed: not-allowed,
);

$resize: (
  none: none,
  y: vertical,
  x: horizontal,
  both: both,
);

$userSelect: (
  none: none,
  text: text,
  all: all,
  auto: auto,
);

$fill: (
  current: currentColor
);

$stroke: (
  current: currentColor
);

$strokeWidth: (
  0: 0,
  1: 1,
  2: 2,
);

